[global_tags]

[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = "0s"
  hostname = ""
  omit_hostname = false

[[outputs.influxdb_v2]]
  urls = ["http://{{ ansible_host }}:{{ influxdb_port }}"]
  token = "{{ influxdb_token_write }}"
  organization = "{{ influxdb_org }}"
  bucket = "{{ influxdb_bucket }}"
  # content_encoding = "gzip"
  # influx_uint_support = false

[[inputs.cpu]]
  percpu = false
  totalcpu = true
  collect_cpu_time = false
  report_active = false
  core_tags = false

[[inputs.disk]]
  # mount_points = ["/"]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]
  # ignore_mount_opts = []

[[inputs.diskio]]
  # devices = ["sda", "sdb", "vd*", "/dev/disk/by-id/nvme-eui.00123deadc0de123"]
  # skip_serial_number = false

[[inputs.kernel]]

[[inputs.mem]]

[[inputs.processes]]
  use_sudo = false

[[inputs.swap]]

[[inputs.system]]
